/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CUSTOM STARTS HERE*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");

html * {
    font-family: "Ubuntu", sans-serif;
}

#root {
    overflow: hidden;
}

body {
    background: #dedede;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 900px) {
    .header {
        height: 10%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 30px;
        text-align: center;
        background-color: #0069c3;
        font-family: "Ubuntu", sans-serif;
    }

    .app {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mainAppScreen {
        width: 900px;
        height: 100%;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /*box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);*/
    }

    .createJoinScreen {
        height: 90%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .createScreen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 90%;
        width: 80%;
    }

    .joinScreen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 90%;
        width: 80%;
    }

    .roomScreen {
        height: 90%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .roomScreen > h1 {
        font-size: 26px;
        margin-bottom: 105px;
    }

    .winnerScreen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 88%;
        width: 350px;
    }

    .winnerScreen > h1 {
        font-size: 28px;
        margin-bottom: 105px;
    }

    .addOption {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #options {
        width: 275px;
    }

    .addButton {
        width: 75px;
        height: 74px;
        background-color: #0069c3; /* Green */
        border: none;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;
        transition-duration: 200ms;
    }

    .addButton:hover {
        background-color: #04afe0;
    }

    .addButton:focus {
        border: none;
        outline: none;
    }

    .mainButton {
        width: 400px;
        height: 75px;
        background-color: #0069c3; /* Green */
        border: none;
        color: #ffffff;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition-duration: 300ms;
    }

    .mainButton:hover {
        background-color: #04afe0;
    }

    .buttonGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .barney {
        width: 300px;
        margin-bottom: 100px;
    }

    .optionsGroup {
        width: 350px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid #04afe0;
        border-radius: 10px;
        padding: 5px;
        max-height: 350px;
        overflow-y: auto;
        font-size: 22px;
    }

    .addedOption {
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        margin-top: 10px;
    }

    .addedOption > button {
        width: 75px;
        height: 35px;
        background-color: #0069c3; /* Green */
        border: none;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;
        transition-duration: 200ms;
    }

    .joinForm {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    .createForm {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    .textInput {
        height: 70px;
        width: 350px;
        padding-left: 10px;
        border: 1px solid #dedede;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 18px;
        transition-duration: 150ms;
    }

    .textInput:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #04afe0;
    }

    .textInputButton {
        height: 70px;
        width: 350px;
        padding-left: 10px;
        border: 1px solid #dedede;
        border-radius: 10px 0px 0px 10px;
        font-size: 18px;
        transition-duration: 150ms;
    }

    .textInputButton:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #04afe0;
    }

    .inputButton {
        width: 400px;
        height: 75px;
        background-color: #0069c3; /* Green */
        border: none;
        color: #ffffff;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 10px;
        transition-duration: 300ms;
    }

    .inputButton:hover {
        background-color: #04afe0;
    }

    .inputButton:focus {
        outline: none;
    }

    .chamberCreated {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 30px;
    }

    .chamberCreated > h2 {
        font-size: 36px;
        color: #0069c3;
        margin-top: 15px;
    }

    .chamberScreen {
        display: flex;
        height: 88%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .finishedVoting {
        width: 350px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid #04afe0;
        border-radius: 10px;
        max-height: 350px;
        overflow-y: auto;
        font-size: 22px;
        padding: 10px;
    }

    .finishedVoting > h2 {
        margin-bottom: 15px;
        font-size: 26px;
    }

    .finishedVoting > h1 {
        font-size: 24px;
        margin-bottom: 7px;
        color: #0069c3;
    }

    .cardsContainer {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        height: 400px;
        width: 300px;
        background-color: #3498db;
        color: white;
        position: relative;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 38px;
    }

    .tinder {
        position: absolute;
    }
}

@media (min-width: 900px) {
    .header {
        height: 12%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ffffff;
        font-size: 45px;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background-color: #0069c3;
        font-family: "Ubuntu", sans-serif;
    }

    .app {
        height: 95%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mainAppScreen {
        width: 900px;
        height: 100%;
        background-color: #ffffff;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        /*box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);*/
    }

    .createJoinScreen {
        height: 88%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .createScreen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 88%;
        width: 80%;
    }

    .joinScreen {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 88%;
        width: 80%;
    }

    .roomScreen {
        height: 88%;
        width: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .roomScreen > h1 {
        font-size: 26px;
        margin-bottom: 105px;
    }

    .winnerScreen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 88%;
        width: 350px;
    }

    .winnerScreen > h1 {
        font-size: 28px;
        margin-bottom: 105px;
    }

    .addOption {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #options {
        width: 275px;
    }

    .addButton {
        width: 75px;
        height: 74px;
        background-color: #0069c3; /* Green */
        border: none;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;
        transition-duration: 200ms;
    }

    .addButton:hover {
        background-color: #04afe0;
    }

    .addButton:focus {
        border: none;
        outline: none;
    }

    .mainButton {
        width: 400px;
        height: 75px;
        background-color: #0069c3; /* Green */
        border: none;
        color: #ffffff;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        margin: 10px;
        border-radius: 10px;
        cursor: pointer;
        transition-duration: 300ms;
    }

    .mainButton:hover {
        background-color: #04afe0;
    }

    .buttonGroup {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .optionsGroup {
        width: 350px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid #04afe0;
        border-radius: 10px;
        padding: 5px;
        max-height: 350px;
        overflow-y: auto;
        font-size: 22px;
    }

    .addedOption {
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        margin-top: 10px;
    }

    .addedOption > button {
        width: 75px;
        height: 35px;
        background-color: #0069c3; /* Green */
        border: none;
        color: #ffffff;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;
        transition-duration: 200ms;
    }

    .joinForm {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    .createForm {
        display: flex;
        width: 50%;
        flex-direction: column;
    }

    .textInput {
        height: 70px;
        width: 350px;
        padding-left: 10px;
        border: 1px solid #dedede;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 18px;
        transition-duration: 150ms;
    }

    .textInput:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #04afe0;
    }

    .textInputButton {
        height: 70px;
        width: 350px;
        padding-left: 10px;
        border: 1px solid #dedede;
        border-radius: 10px 0px 0px 10px;
        font-size: 18px;
        transition-duration: 150ms;
    }

    .textInputButton:focus {
        outline: none;
        box-shadow: none;
        border: 1px solid #04afe0;
    }

    .inputButton {
        width: 400px;
        height: 75px;
        background-color: #0069c3; /* Green */
        border: none;
        color: #ffffff;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        border-radius: 10px;
        cursor: pointer;
        margin-bottom: 10px;
        transition-duration: 300ms;
    }

    .inputButton:hover {
        background-color: #04afe0;
    }

    .inputButton:focus {
        outline: none;
    }

    .chamberCreated {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        font-size: 30px;
    }

    .chamberCreated > h2 {
        font-size: 36px;
        color: #0069c3;
        margin-top: 15px;
    }

    .chamberScreen {
        display: flex;
        height: 88%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .finishedVoting {
        width: 400px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid #04afe0;
        border-radius: 10px;
        max-height: 350px;
        overflow-y: auto;
        font-size: 22px;
        padding: 10px;
    }

    .finishedVoting > h2 {
        margin-bottom: 15px;
        font-size: 26px;
    }

    .finishedVoting > h1 {
        font-size: 24px;
        margin-bottom: 7px;
        color: #0069c3;
    }

    .cardsContainer {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card {
        height: 400px;
        width: 300px;
        background-color: #3498db;
        color: white;
        position: relative;
        border-radius: 20px;
        background-size: cover;
        background-position: center;
        box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 38px;
    }

    .tinder {
        position: absolute;
    }
}
