/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*CUSTOM STARTS HERE*/
#root {
    overflow: hidden;
}
body {
    background: rgb(4, 175, 224);
    background: linear-gradient(
        90deg,
        rgba(4, 175, 224, 1) 0%,
        rgba(2, 122, 224, 1) 100%
    );
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0069c3;
    font-size: 72px;
    text-align: center;
    margin-top: 75px;
}

.app {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer {
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 40px;
    text-align: center;
}

.mainAppScreen {
    width: 80vw;
    height: 90%;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);*/
}

.createJoinScreen {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.createScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 80%;
}

.roomScreen {
    height: 90%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainButton {
    width: 85%;
    height: 150px;
    background-color: #0069c3; /* Green */
    border: none;
    color: #ffffff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition-duration: 300ms;
}

.buttonGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 75px;
}

.mainButton:hover {
    background-color: #04afe0;
}

.joinForm {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin-bottom: 100px;
}

.textInput {
    height: 50px;
    padding-left: 10px;
}

.inputButton {
    height: 50px;
}

.cardsContainer {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    height: 400px;
    width: 300px;
    background-color: #3498db;
    color: white;
    position: relative;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 38px;
}

.tinder {
    position: absolute;
}
